<% include ./partials/header %>

<div>
        <h3><%= blog.title %></h3>
        <img src="<%= blog.image %>" alt="Beautiful Lake">
        <span><%= blog.created %></span>
        <p><%= blog.body %></p>
        <a href="/blogs">Back to Blogs</a>
    </div>







<% include ./partials/footer %>
